<header class="flex justify-between md:justify-start md:pl-16 items-center">
  <div class="flex items-center">
    <div class="pr-4">
      <a href="/"><%= image_tag "melik.jpg", alt: "melik", class: 'w-12 rounded-full' %></a>
    </div>
    <h3 class="font-bold text-2xl text-gray-900">Abdulmelik SAK</h3>
    <div class ="hidden md:block pl-16 space-x-5">
      <%= link_to 'CV', cv_path, class: 'font-semibold text-gray-900 hover:text-gray-500' %>
      <%= link_to 'FORMATIONS', formations_path, class: 'font-semibold text-gray-900 hover:text-gray-500'  %>
      <%= link_to 'PROJETS', projets_path, class: 'font-semibold text-gray-900 hover:text-gray-500' %>
    </div>
  </div>
  <button id="menu_btn">
    <div class="md:hidden">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </div>
  </button>
</header>

<div class="menu hidden md:hidden">
  <div class="mt-8 ml-8 space-y-8 flex flex-col">
      <%= link_to 'CV', cv_path, class: 'font-semibold text-gray-900' %>
      <%= link_to 'FORMATIONS', formations_path, class: 'font-semibold text-gray-900'  %>
      <%= link_to 'PROJETS', projets_path, class: 'font-semibold text-gray-900' %>
  </div>
</div>
