<!DOCTYPE html>
<html>
  <head>
    <title>Abdulmelik SAK</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="py-8 px-6 md:px-16 lg:px-24 lg:py-24">
    <%= render partial: 'shared/navbar' %>
    <%= yield %>
  </div>
  </body>
</html>
